body {
    font-family: 'Roboto', sans-serif;
}

#srb__mainContainer {
    margin-top: 20px;
}

#srb__status {
    background-color: #bbd3f9;
    height: 400px;
    text-align: center;
}


#srb__status h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#srb__status h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #555;
}

#srb__status table {
    margin: auto;
}

#srb__status td {
    width: 100%;
    padding: 5px;
}

#srb__status table td:nth-of-type(1) {
    text-align: right;
    font-weight: bold;
    width: 60%;
}

#srb__status table td:nth-of-type(2) {
    text-align: left;
    width: 40%;
}

.ct-area {
    fill-opacity: 0.2;
}

.past {
    fill: #80c8e5;
    stroke: #80c8e5;
}

.past .ct-point {
    stroke: none;
}

.future-accurate {
    fill: #42f4b3;
    stroke: #42f4b3;
}

.future-accurate .ct-point {
    stroke: none;
}

.future-estimated {
    fill: #89f441;
    stroke: #89f441;
}

.future-estimated .ct-point {
    stroke: none;
}

.event {
    fill: none;
    stroke: none;
}

.event .ct-point {
    stroke: #000;
}