body {
    font-family: 'Roboto', sans-serif;
}

#srb__navbar_status {
    color: #000;
}

#srb__status-container {
}

#srb__status-container a {
    color: #212529;
}

#srb__status-container a:hover {
    text-decoration: none;
}

#status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: #fff 1px solid;
    display: inline-block;
    box-shadow: inset 0 0 10px 0 rgba(255,255,255,0.8);
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
    outline: none;
}

#notificationCollapser {
    cursor: default;
}

#srb__status-container #notifications {

}

#srb__status-container #notifications li.list-group-item {
    padding-left: 0px;
}

#srb__status-container #notifications .notifications-container {
    border: 0;
    border-left: 7px solid;
    padding-left: 10px;
}

#srb__status-container #notifications .notifications-container.ok {
    border-color: #00ff00;
}

#srb__status-container #notifications .notifications-container.warning {
    border-color: #FF9600;
}

#srb__status-container #notifications .notifications-container.error {
    border-color: #ff0000;
}

#status-indicator:hover {
    text-decoration: none;
    /*box-shadow: inset 0 0 10px 2px rgba(255,255,255,1);*/
}

#status-indicator.ok {
    background-color: #00ff00;
}

#status-indicator.warning {
    background-color: #FF9600;
}

#status-indicator.error {
    background-color: #ff0000;
}

#status-text {
    position: relative;
    top: -3px;
    display: inline-block;
}

#srb__mainContainer {
    margin-top: 20px;
}

#srb__status .card-body {
    padding: 10px;
}

#srb__status {
    text-align: center;
}

#srb__status h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#srb__status h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #555;
}

#srb__status table {
    margin: auto;
}

#srb__status td {
    width: 100%;
    padding: 5px;
}

#srb__status table td:nth-of-type(1) {
    text-align: right;
    font-weight: bold;
    width: 50%;
}

#srb__status table td:nth-of-type(2) {
    text-align: left;
    width: 50%;
}

#srb__fillLevel .card-body {
    padding: 10px 0 0;
}

#srb__competitive #competitiveChartContainer {
    position: relative;
    height: 400px;
    padding: 25px;
}

#srb__competitive #competitiveChartContainer #competitiveChart {
    margin: 25px;
    width: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
}

#srb__competitive #competitiveChartContainer #complimentContainer {
    position: absolute;
    bottom: 25px;
    left: 15%;
    width: 70%;
    text-align: center;
}

#srb__competitive #competitiveChartContainer h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#srb__competitive #competitiveChartContainer p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.card {
    margin-bottom: 25px;
}

.ct-chart {
    position: relative;
}

.ct-area {
    fill-opacity: 0.5;
}

.past {
    fill: #3E4FBE;
    stroke: #3E4FBE;
}

.past .ct-point {
    stroke: none;
}

.future-accurate {
    fill: #359BD9;
    stroke: #359BD9;
}

.future-accurate .ct-point {
    stroke: none;
}

.future-estimated {
    fill: #0AE5F0;
    stroke: #0AE5F0;
}

.future-estimated .ct-point {
    stroke: none;
}

.rainfall .ct-area.ct-threshold-below {
    fill: #BD07F4;
    fill-opacity: 1;
}

.rainfall .ct-area.ct-threshold-above {
    fill: #f05b4f;
    fill-opacity: 1;
}

.rainfall .ct-point {
    stroke: none;
}

.event {
    fill: none;
    stroke: none;
}

.event .ct-point {
    stroke: #000;
    cursor: pointer;
}

.now {
    fill: none;
    stroke: black;
    height: 100%;
}

.now .ct-point {
    height: 100%;
    stroke-width: 2px;
    stroke-dasharray: 10px;
}

.vertical-line {
    stroke: orange;
    stroke-width: 3px;
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    font-size: 14px;
}
.ct-legend li {
    position: relative;
    padding-left: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 10px;
    right: 0;
    width: 150px;
    text-align: left;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
}

.ct-legend .past:before {
    background-color: #3E4FBE;
    border-color: #3E4FBE;
}

.ct-legend .future-accurate:before {
    background-color: #359BD9;
    border-color: #359BD9;
}

.ct-legend .future-estimated:before {
    background-color: #0AE5F0;
    border-color: #0AE5F0;
}

.ct-legend .rainfall:before {
    background-color: #BD07F4;
    border-color: #BD07F4;
}

.ct-legend .event:before {
    background-color: #000;
    border-color: #000;
    border-radius: 50%;
}

#timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

#timeline li {
    border-left: #39c 10px solid;
    padding: 5px 20px;
}

#timeline li.event {
     position: relative;
 }

#timeline li.event:before {
    position: absolute;
    content: '';
    top: 10px;
    left: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #000 8px solid;
}

#timeline li.fillLevel {
    position: relative;
}

#timeline li.fillLevel:before {
    position: absolute;
    content: '';
    top: 12px;
    left: -19px;
    width: 30px;
    height: 10px;
    background-color: #39c;
}

#timeline li.now {
    position: relative;
    text-align: right;
}

#timeline li.now:before {
    position: absolute;
    content: '';
    top: 15px;
    left: -19px;
    right: 60px;
    border-top: #ff0000 5px dashed;
}

#competitiveChart .user {
    fill: #009FFF;
    stroke: #009FFF;
}

#competitiveChart .avg {
    fill: #004F7F;
    stroke: #004F7F;
}

@media (max-width: 768px) {
    .ct-legend .event {
        display: none;
    }

    #srb__fillLevel .event {
        display: none;
    }

    #srb__status {
        order: 0;
    }

    #srb__fillLevel {
        order: 2;
    }

    #srb__status-container {
        order: 1;
    }

    #srb__competitive {
        order: 3;
    }
}

@media (min-width: 768px) {
    #srb__status {
        height: 400px;
    }

    #srb__usage {
        height: 400px;
    }

    #srb__fillLevel {
        height: 500px;
    }

    #srb__status-container {
        height: 400px;
    }
}